<section class="container">
    <h3 class="text-center mb-4 colorFont">Creditos de Fundadores</h3>

    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 custom-card-size fondoAlfa">
                <h5 class="card-title text-center mt-2">Alfa</h5>
                <img src="./assets/img/alfa.png" class="logoFounders" alt="">
                <div class="card-body">
                    <p class="card-text" *ngFor="let founder of foundersAlfa"> {{ founder.name }} - {{ founder.meses }} meses</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 custom-card-size fondoBeta">
                <h5 class="card-title text-center mt-2">Beta</h5>
                <img src="./assets/img/beta.png" class="logoFounders" alt="">
                <div class="card-body">
                    <p class="card-text" *ngFor="let founder of foundersBeta"> {{ founder.name }} - {{ founder.meses }} meses</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 custom-card-size fondoDelta">
                <h5 class="card-title text-center mt-2">Delta</h5>
                <img src="./assets/img/delta.png" class="logoFounders" alt="">
                <div class="card-body">
                    <p class="card-text" *ngFor="let founder of foundersDelta"> {{ founder.name }} - {{ founder.meses }} meses</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 custom-card-size fondoOmega">
                <h5 class="card-title text-center mt-2">Omega</h5>
                <img src="./assets/img/omega.png" class="logoFounders" alt="">
                <div class="card-body">
                    <p class="card-text" *ngFor="let founder of foundersOmega"> {{ founder.name }} - {{ founder.meses }} meses</p>
                </div>
            </div>
        </div>
    </div>    
</section>
