body {
    background-color: #242833 !important;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.logo:hover {
    transform: scale(1.5);
}

.logoFounders {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    /* animation: zoomIn 0.8s ease forwards; */
    transition: transform 0.3s ease-in-out;
}

.logoFounders:hover {
    transform: scale(1.5);
}

/* img {
    height: 5rem;
    width: auto;
    border-radius: 34% 66% 64% 36% / 37% 39% 61% 63%;
    border: 5px solid var(--accent-color);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1);
} */

.colorFont{
    color: white !important;
}

.fondoOmega{
    background-color: #1f281d !important;
    color: white !important;
    align-items: center !important;
}

.fondoBeta{
    background-color: #261d28 !important;
    color: white !important;
    align-items: center !important;
}

.fondoDelta{
    background-color: #2B303D !important;
    color: white !important;
    align-items: center !important;
}

.fondoAlfa{
    background-color: #281d1d !important;
    color: white !important;
    align-items: center !important;
}

/* .custom-card-size { 
    max-height: 500px;
    overflow-y: auto;
}*/

.crown-icon {
    color: gold;
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

