body {
    background-color: #242833 !important;
}

h3, h5, a{
    text-decoration: underline;
    color: white !important;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.logo:hover {
    transform: scale(1.5);
}

.logoFounders {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.logoFounders:hover {
    transform: scale(1.5);
}

.fondoOmega{
    background-color: #1f281d !important;
    color: white !important;
    align-items: center !important;
}

.fondoBeta{
    background-color: #261d28 !important;
    color: white !important;
    align-items: center !important;
}

.fondoDelta{
    background-color: #2B303D !important;
    color: white !important;
    align-items: center !important;
}

.fondoAlfa{
    background-color: #281d1d !important;
    color: white !important;
    align-items: center !important;
}

.crown-icon {
    color: gold;
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

